<%- include('./header.ejs'); %>


<h2>Exercice 2</h2>

<div class="enonce">
    <p>écrire une fonction sort(array) qui effectue un tri à bulle,veuillez entrer des nombres entier</p>
</div>
<div class="exo1">

    <form action="/tri_a_bulle" method="POST">
        <div class="form-row">
            <div class="col-md-3">
                <input type="number" class="form-control" placeholder="43" name="userNumber">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Créer une table</button>
            </div>
        </div>
    </form>


    <div class="tableaux">
        <div class="userTab">
            <h3>votre table</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Position</th>
                    <th scope="col">Nombre</th>
                </tr>
                </thead>
                <% for (var i = 0; i < tableNature.length; i++){ %>
                    <tbody>
                    <tr>
                        <th scope="row"><%= i + 1 %></th>
                        <td><%= tableNature[i] %></td>
                    </tr>
                    </tbody>
                <% } %>
            </table>
        </div>
        <div class="finsihTab">
            <h3>Table triée</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Position</th>
                    <th scope="col">Nombre</th>

                </tr>
                </thead>
                <% for (var i = 0; i < userTable.length; i++){ %>
                    <tbody>
                    <tr>
                        <th scope="row"><%= i + 1 %></th>
                        <td><%= userTable[i] %></td>
                    </tr>
                    </tbody>
                <% } %>
            </table>
        </div>
    </div>
</div>

</body>
</html>
